.menu-btn {
    position: absolute;
    z-index: 1;
    left: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    visibility: hidden;
    // @include transition-ease;

    &_burger {
        position: absolute;
        left: 0;
        top: 0.8rem;
        width: 20px;
        height: 1px;
        background: #fff;
        // @include transition-ease;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 20px;
            height: 1px;
            background: #fff;
            // @include transition-ease;
        }

       
    }
}
